* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 32px;
}
#wrapper {
    display: flex;
    flex-direction: column;
    width: calc(100% - 10px);
    height: fit-content;
    margin: 5px;
}
#header {
    order: 0;
    width: 90%;
    height: 75px;
    background-color: black;
    border-radius: 0px 37px 37px 0px;
}
#left-panel {
    height: 0;
    width: 15%;
    background-color: #111111;
    order: 1;
    padding-bottom: 40%;
    border-radius: 0 0 135px 135px;
}
#logo {
    position: absolute;
    justify-content: space-around;
    display: flex;
    left: calc(0% + 5px);
    top: 42px;
    width: 20%;
    height: 150px;
    background-color: orangered;
    border-radius: 0px 75px 75px 0px;
}
#logo img {
    padding-top: 5%;
    width: 300px;
    height: 130px;
}
#container {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    top: 10%;
    right: 0%;
    width: 80%;
}
.card {
    position: relative;
    margin: 5px 15px;
    width: 350px;
    height: 420px;
    border: 2px solid black;
    border-radius: 25px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
.card h1 {
    text-align: center;
    text-transform: capitalize;
    color: white;
    background-color: black;
    border-radius: 22px 22px 0 0;
}
.card>img {
    margin-left: calc(50% - 72px);
    width: 144px;
    height: 144px;
}
.stats {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 120px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.stats img {
    width: 45px;
    height: 45px;
}
.stats div {
    display: flex;
    flex-direction: row;
    width: fit-content;
}
.stats div p {
    text-transform: uppercase;
    letter-spacing: -1px;
    font-size: 24px;
    padding-top: 10px;
}
@media (max-width: 1280px) {
    #logo img {
        margin-top: 5%;
        padding-top: 5%;
        width: 230px;
        height: 100px;
    }
}