* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 32px;
    font-family: 'Lato', 'sans-serif';
}
body {
    background-color: #333333;
}
#wrapper {
    display: flex;
    flex-direction: column;
    width: calc(100% - 10px);
    height: fit-content;
    margin: 5px;
}
#header {
    order: 0;
    width: 90%;
    height: 75px;
    background-color: black;
    border-radius: 0px 37px 37px 0px;
}
#left-panel {
    height: 0;
    width: 15%;
    background-color: #111111;
    order: 1;
    padding-bottom: 40%;
    border-radius: 0 0 135px 135px;
}
#logo {
    position: absolute;
    justify-content: space-around;
    display: flex;
    left: calc(0% + 5px);
    top: 42px;
    width: 20%;
    height: 150px;
    background-color: orangered;
    border-radius: 0px 75px 75px 0px;
}
#logo img {
    padding-top: 5%;
    width: 300px;
    height: 130px;
}
#container {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    top: 10%;
    right: 0%;
    width: 80%;
}
.card {
    position: relative;
    margin: 5px 15px;
    width: 350px;
    height: 420px;
    border: 2px solid black;
    border-radius: 25px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    background-color: white;
}
.card h1 {
    text-align: center;
    text-transform: capitalize;
    color: white;
    background-color: black;
    border-radius: 22px 22px 0 0;
}
.card>img {
    margin-left: calc(50% - 72px);
    width: 144px;
    height: 144px;
}
.stats {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 120px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.stats img {
    width: 45px;
    height: 45px;
}
.stats div {
    display: flex;
    flex-direction: row;
    width: fit-content;
}
.stats div p {
    text-transform: uppercase;
    letter-spacing: -1px;
    font-size: 24px;
    padding-top: 10px;
}
.types p{
    font-size: 0.75em;
    width: fit-content;
    margin: 0 auto 0 auto;
}
.typeValues {
    display: flex;
    justify-content: space-evenly;
}
.bug {background-color: #A8b820;}
.dark {background-color: #705848;}
.normal {background-color: #a8a878;}
.fire {background-color: #f08030;}
.dragon {background-color: #7038f8;}
.flying {background-color: #a890f0;}
.electric {background-color: #f8d030;}
.fairy {background-color: #ee99ac;}
.fighting {background-color: #c03028;}
.ghost {background-color: #705898;}
.poison {background-color: #a040a0;}
.grass {background-color: #78c850;}
.ground {background-color: #e0c068;}
.ice {background-color: #98d8d8;}
.steel {background-color: #b8b8d0;}
.psychic {background-color: #f85888;}
.rock {background-color: #b8a038;}
.water {background-color: #6890f0;}
.typeValues p {
    padding: 3px 15px 3px 15px;
    border-radius: 15px;
}
.misc {
    display: flex;
    padding-top: 20px;
    width: 300px;
}
.misc img {
    height: 20px;
    padding-left: 20px;
}
.misc p{
    font-size: 0.5em;
    height: fit-content;
    width: fit-content;
    padding-top: 3px;
}
.id {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 44px;
    height: 44px;
    background-color: black;
    border-radius: 23px;
    color: white;
    font-size: 0.75em;
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
}
@media (max-width: 1280px) {
    #logo img {
        margin-top: 5%;
        padding-top: 5%;
        width: 230px;
        height: 100px;
    }
}