* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-size: 1.5vw;
}
body {
    background: rgba(30,30,30,1);
    background: -moz-linear-gradient(top, rgba(30,30,30,1) 0%, rgba(70,70,70,1) 57%, rgba(120,120,120,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(30,30,30,1)), color-stop(57%, rgba(70,70,70,1)), color-stop(100%, rgba(120,120,120,1)));
    background: -webkit-linear-gradient(top, rgba(30,30,30,1) 0%, rgba(70,70,70,1) 57%, rgba(120,120,120,1) 100%);
    background: -o-linear-gradient(top, rgba(30,30,30,1) 0%, rgba(70,70,70,1) 57%, rgba(120,120,120,1) 100%);
    background: -ms-linear-gradient(top, rgba(30,30,30,1) 0%, rgba(70,70,70,1) 57%, rgba(120,120,120,1) 100%);
    background: linear-gradient(to bottom, rgba(30,30,30,1) 0%, rgba(70,70,70,1) 57%, rgba(120,120,120,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#header {
    position: relative;
    width: 85%;
    height: 3.75vw;
    background-color: black;
    border-radius: 0px 37px 37px 0px;
}
.search-error {
    display: none;
    color: red;
    font-size: 0.65em;
    position: absolute;
    top: 35%;
    left: 51%;
}
.about-box {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    background: none;
    border-radius: 40px;
    padding: 0.5vw;
    transition: 0.4s;
}
.about-box p {
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    color: white;
    font-size: 0.65em;
    padding: 5px 10px;
    border-bottom: 2px solid white;
}
.about-link {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    cursor: pointer;
    font-size: 0em;
    text-decoration: none;
    transform-origin: 0 0;
    background-image: linear-gradient(black, black), linear-gradient(white, white);
    background-size: 0 5px, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all .4s ease-out;
}
.about-box:hover > .about-link {
    font-size: 0.65em;
    padding: 5px 10px;
}
.about-link:hover {
    background-size: 100% 5px, auto;
}
.about-box:hover {
    background: white;
}
.about-box:hover > p {
    color: black;
    border-left: 2px solid black;
}
#left-panel {
    height: 35vw;
    width: 15%;
    background-color: #111111;
    border-radius: 0 0 135px 135px;
}
#full-list, #generator {
    position: relative;
    top: 20%;
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.nav-bar{
    transform: translate(-0,-0);
    text-align: center;
}
.nav-btn{
    background: none;
    outline: none;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 25px;
    text-transform: uppercase;
    font-size: 0.5em;
    padding: 12px 20px;
    width: 10vw;
    margin: 10px;
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
}
.nav-btn:hover{
    color: #000;
}
.nav-btn::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 25px;
    z-index: -1;
    transition: transform 0.5s;
}
.nav-btn::before{
    transform: scaleX(0);
}
.nav-btn:hover::before{
    transform: scaleX(1);
}
.info-box {
    background-color: white;
    height: 2.5vw;
    border-radius: 25px;
    font-size: 0.65em;
    padding: 10px;
    display: flex;
    align-items: center;
}
.info-box input {
    font-size: 1em;
    border: none;
    outline: none;
    background: none;
    width: 6.5vw;
}
.error-msg {
    display: none;
    color: red;
    font-size: 0.5em;
    position: absolute;
    bottom: 20%;
}
#info {
    font-size: 0.4em;
    color: white;
    width: 50%;
    border-bottom: 1px solid white;
    display: block;
    text-align: center;
}
#paging-nav button, #random {
    color: white;
    border: none;
    outline: none;
    background-image: linear-gradient(white, white), linear-gradient(#111111, #111111);
    background-size: 0 5px, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all .2s ease-out;
}
#paging-nav > :first-child {
    margin-right: 2vw;
}
#paging-nav button svg {
    padding: 0px 5px 3px 5px;
    font-size: 0.75em;
    box-sizing: content-box;
}
#paging-nav button:hover, #random:hover {
    background-size: 100% 5px, auto;
    cursor: pointer;
}
#logo {
    position: absolute;
    justify-content: space-around;
    display: flex;
    left: 0%;
    top: 2vw;
    width: 20%;
    height: 7.8vw;
    background-color: #f57327;
    border-radius: 0px 75px 75px 0px;
}
#logo img {
    padding-top: 5%;
    width: 15.5vw;
    height: 6.8vw;
}
#container {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    top: 10%;
    right: 0%;
    width: 80%;
    height: 45vw;
}
.info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ddd;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: rgba(0,0,0,0.15);
    padding: 50px 20px;
}
.info h1 {
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: 2px solid white;
}
.info h3 {
    text-align: center;
    width: 580px;
    padding: 50px 0px;
    font-size: 0.75em;
}
.card {
    position: relative;
    margin: 0.1em 0.45em;
    width: 18.3vw;
    height: 22vw;
    border: 3px solid black;
    border-radius: 25px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    background-color: white;
}
.card h1 {
    text-align: center;
    text-transform: capitalize;
    color: white;
    border-radius: 22px 22px 0 0;
}
.card>img {
    margin-left: calc(50% - 3.9vw);
    width: 7.8vw;
    height: 7.8vw;
}
.stats {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 6vw;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.stats img {
    width: 2.4vw;
    height: 2.4vw;
}
.stats div {
    display: flex;
    flex-direction: row;
    width: fit-content;
}
.stats div p {
    text-transform: uppercase;
    letter-spacing: -1px;
    font-size: 1.2vw;
    padding-top: 10px;
}
.types p{
    font-size: 0.75em;
    width: fit-content;
    margin: 0 auto 0 auto;
    padding: 0.3em 0;
}
.typeValues {
    display: flex;
    justify-content: space-evenly;
}
.bug {background-color: #A8b820;}
.bug2 {background-color: #dbeb53; border-color: #758500;}
.dark {background-color: #705848;}
.dark2 {background-color: #a38b7b; border-color: #402515;}
.normal {background-color: #a8a878;}
.normal2 {background-color: #dbdbab; border-color: #757545;}
.fire {background-color: #f08030;}
.fire2 {background-color: #f3b363; border-color: #c05000;}
.dragon {background-color: #7038f8;}
.dragon2 {background-color: #a36bfb; border-color: #4005c5;}
.flying {background-color: #a890f0;}
.flying2 {background-color: #dbc3f3; border-color: #7560c0; }
.electric {background-color: #f8d030;}
.electric2 {background-color: #fbf363; border-color: #c5a000;}
.fairy {background-color: #ee99ac;}
.fairy2 {background-color: #ffccdf; border-color: #bb6679;}
.fighting {background-color: #c03028;}
.fighting2 {background-color: #f3635b; border-color: #900005;}
.ghost {background-color: #705898;}
.ghost2 {background-color: #a38bcb; border-color: #402565;}
.poison {background-color: #a040a0;}
.poison2 {background-color: #d373d3; border-color: #701070;}
.grass {background-color: #78c850;}
.grass2 {background-color: #abfb83; border-color: #459520;}
.ground {background-color: #e0c068;}
.ground2 {background-color: #f3f39b; border-color: #b09035;}
.ice {background-color: #98d8d8;}
.ice2 {background-color: #cbfbfb; border-color: #65a5a5;}
.steel {background-color: #b8b8d0;}
.steel2 {background-color: #ebebf3; border-color: #8585a0;}
.psychic {background-color: #f85888;}
.psychic2 {background-color: #fb8bbb; border-color: #c52333;}
.rock {background-color: #b8a038;}
.rock2 {background-color: #ebd36b; border-color: #857005;}
.water {background-color: #6890f0;}
.water2 {background-color: #9bc3f3; border-color: #3560c0;}
.typeValues p {
    padding: 3px 15px 3px 15px;
    border-radius: 15px;
}
.misc {
    display: flex;
    align-items: center;
    position: absolute;
    width: 20vw;
    bottom: 0;
}
.misc img {
    height: 0.75em;
    padding-left: 0.75em;
}
.misc p{
    font-size: 0.5em;
    height: fit-content;
    width: fit-content;
    padding-top: 3px;
}
.id {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 2.3vw;
    height: 2.3vw;
    border-radius: 23px;
    color: white;
    font-size: 0.75em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.loader-text {
    color: white;
    padding-bottom: 25px;
}
.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
}
.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
}
@keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
}
@keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
}
/* Search input */
.search-box {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    background: white;
    height: 2.6vw;
    border-radius: 25px;
    padding: 10px;
    display: flex;
    align-items: center;
}
.search-box:hover > .search-btn, #full-list div:hover > .move-btn {
    background: #f57327;
    color: black;
}
   
.search-btn, .move-btn {
    width: 2.2vw;
    height: 2.2vw;
    margin-right: -5px;
    float: right;
    font-size: 0.7em;
    border-radius: 50%;
    background: #111111;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    color: white;
    cursor: pointer;
}
.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    font-size: 0.65em;
    width: 15vw;
    font-weight: bold;
    line-height: 30px;
}
@media (max-width: 1000px) {
    .info {
        width: 80%;
    }
    .card {
        margin: 0.2em 0.45em;
        border-radius: 20px;
        border-width: 2px;
        width: 43%;
        height: 75%;
    }
    #container {
        align-items: center;
        justify-content: center;
        width: 72%;
    }
    #left-panel {
        height: 55vw;
        width: 25%;
        top: 0;
    }
    #logo {
        width: 32%;
        height: 12.8vw;
    }
    #logo img {
        width: 25vw;
        height: 11.5vw;
    }
    #header {
        height: 5vw;
        width: 100%;
        border-radius: 0;
    }
    .search-box {
        left: 50%;
        height: 3.8vw;
    }
    .search-box input {
        font-size: 1em;
        width: 20vw;
    }
    .search-btn, .move-btn {
        width: 3.2vw;
        height: 3.2vw;
    }
    .about-box {
        left: 78%;
    }
    .about-box p {
        font-size: 0.75em;
    }
    .about-box:hover > .about-link {
        font-size: 0.75em;
    }
    .nav-btn {
        font-size: 0.8em;
        width: 16vw;
    }
    #random {
        font-size: 1.3em;
    }
    .info-box {
        font-size: 1em;
        height: 3.7vw;
    }
    #info {
        font-size: 0.7em;
    }
    .info-box input {
        width: 12vw;
    }
    #paging-nav button {
        font-size: 1.5em;
    }
    .id {
        width: 3.6vw;
        height: 3.6vw;
        font-size: 1.1em;
    }
    .card h1 {
        font-size: 1.5em;
        border-radius: 19px 19px 0 0;
    }
    .card>img {
        margin-left: calc(50% - 6vw);
        width: 12vw;
        height: 12vw;
    }
    .stats {
        height: 10vw;
    }
    .stats div p{
        font-size: 1.3em;
    }
    .stats img {
        width: 4.3vw;
        height: 4.3vw;
    }
    .types p {
        font-size: 1.1em;
    }
    .misc {
        width: 100%;
    }
    .misc p {
        font-size: 0.9em;
    }
    .misc img {
        height: 1.1em;
        padding-left: 1.3em;
    }
}
@media (max-width: 600px) {
    .info {
        top: 100%;
        width: 75%;
        height: 75vw;
    }
    #container h3 {
        width: 100%;
        font-size: 1.2em;
        padding: 5vw 0;
    }
    .info h1 {
        font-size: 2em;
    }
    .card {
        border-radius: 18px;
        width: 70%;
        height: 120%;
    }
    #header {
        width: 100%;
        border-radius: 0;
        height: 7vw;
    }
    .info-box {
        font-size: 1.4em;
        height: 5vw;
    }
    .search-box {
        height: 5vw;
    }
    .search-box input {
        font-size: 1.1em;
        width: 20vw;
    }
    .search-btn, .move-btn {
        width: 4vw;
        height: 4vw;
        font-size: 1.2em;
    }
    .about-box {
        left: 76%;
    }
    .search-box {
        left: 50%;
    }
    #logo {
        width: 37%;
        height: 13.5vw;
    }
    #logo img {
        width: 27.5vw;
        height: 12.7vw;
    }
    #left-panel {
        width: 30%;
        height: 70vw;
    }
    #full-list {
        top: 8%;
        height: 55vw;
    }
    .nav-btn {
        font-size: 1em;
        width: 20vw;
        border-width: 1px;
    }
    #random {
        font-size: 2em;
    }
    #random img{
        width: 5vw;
        height: 5vw;
    }
    #info {
        font-size: 1em;
    }
    .info-box input {
        width: 14vw;
    }
    #paging-nav button {
        font-size: 2em;
    }
    .card h1 {
        font-size: 2.5em;
        border-radius: 16px 16px 0 0;
    }
    .card>img {
        margin-left: calc(50% - 9vw);
        width: 18vw;
        height: 18vw;
    }
    .stats {
        height: 15vw;
    }
    .stats div p{
        font-size: 2em;
    }
    .stats img {
        width: 6vw;
        height: 6vw;
    }
    .types p {
        font-size: 2em;
    }
    .misc p {
        font-size: 1.5em;
    }
    .misc img {
        height: 1.7em;
        padding-left: 1.5em;
    }
    .id {
        width: 5.5vw;
        height: 5.5vw;
        font-size: 1.5em;
    }
}